
1. Write code in python file, with comments
2. Presentation (approach)
   - Mention the problem statement and the analysis approach briefly 
   - Explain the results of univariate, bivariate analysis etc. in business terms
   - Include visualisations and summarise the most important results in the presentation
3. You need to submit one Ipython notebook which clearly explains the thought process behind your analysis (either in comments of markdown text), code and relevant plots. 
4. Submit a GitHub repository link that contains the files above 
5. write a README.md for the GitHub repository.